body{
    padding: 0;
    margin: 0;
    font-family: "Spectral", serif;
}
h1{
    font-family: "WindSong", cursive;
    font-weight: bold;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: rgba(41, 120, 73);
    color: #f9d1bd;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: transform 1s ease;
}
header a:hover{
    transform: translateY(-6px);
    color: blue;
}
header a :hover{
    color: #73c062;
}
.sobre-mim{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #73c062;
    justify-content: center;

}
.sobre-mim img{
    width: 247px;
    height: 247px;
    border-radius: 50%;
    box-shadow: #267947 5px 6px 10px;
    margin: 35.5px 5% 35.5px 5%;
}

.sobre-mim div{
    display: flex;
    flex-direction: column;
    width: 614px;
    height: auto;
    text-align:justify;
    margin: 35.5px 5% 35.5px 5%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 104px;
    height: 150px;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(115, 115, 115);
    transition: transform 1s ease;
}
.card:hover{
    transform: translate(5px, 5px);
}
.number-box{
    display: flex;
    width: 101px;
    height: 101px;
}

.number-box p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 44px;
    background-color: red;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    justify-self: flex-start;
    margin: 0px;
    margin-left: 5px;
    color: gold;
}
.listas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
    background-color: #a4d08f;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 595px;
    height: auto;
    padding: 20px 0 20px 0;
}
#hobbies{
    display: flex;
    justify-content: flex-end;
    
}
.list h2{
    margin: 0 20px 0 20px;
}
.hobbies-cards{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.game-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #a4d08f;
    align-items: center;
    padding-top: 76px;
}

.feedback-box{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}
.inputs-box{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 40px;
}
.inputs-box input{
    width: auto;
    height: 56px;
    border: none;
    background-color: #cffac4;
    border-radius: 5px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
label{
    font-size: 24px;
    font-weight: bold;
}
.feedback button{
    width: 127px;
    height: 39px;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 16px 28px 54px 0;
    background-color: #56c181;
    font-weight: bold;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.329);
}
.feedback button:hover{
    cursor: pointer;
    background-color: #439865;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #267947;
    gap: 50%;
}
.links-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 19px 0 19px 0;
}
.links-box img{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}
footer button{
    width: 162px;
    height: 38px;
    background-color: #56c181;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin: 19px 0 19px;
}
footer button:hover{
    cursor: pointer;
    background-color: #439865;
}

@media (max-width: 1215px){
    .hobbies-cards{flex-direction: row;}
    #hobbies{justify-content: flex-start;}
}

@media (max-width: 559px){
    .btn-container{justify-content: center;}
    .inputs-box{margin: 0;}
}